@import "/src/styles/fonts.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    &,
    &.light-mode {
      --color-primary-900: 13, 71, 161;
      --color-primary-800: 21, 101, 192;
      --color-primary-700: 25, 118, 210;
      --color-primary-600: 30, 136, 229;
      --color-primary-500: 33, 150, 243;
      --color-primary-400: 66, 165, 245;
      --color-primary-300: 100, 181, 246;
      --color-primary-200: 144, 202, 249;
      --color-primary-100: 187, 222, 251;
      --color-primary-50: 227, 242, 253;
      --color-primary-0: 255, 255, 255;

      --color-secondary-900: 15, 18, 12;
      --color-secondary-800: 38, 41, 36;
      --color-secondary-700: 62, 65, 60;
      --color-secondary-600: 87, 89, 84;
      --color-secondary-500: 111, 112, 109;
      --color-secondary-400: 135, 136, 133;
      --color-secondary-300: 159, 160, 157;
      --color-secondary-200: 183, 183, 182;
      --color-secondary-100: 207, 207, 206;
      --color-secondary-50: 231, 231, 230;
      --color-secondary-0: 255, 255, 255;

      --color-success: 0, 192, 115;
      --color-warning: 255, 153, 0;
      --color-error: 255, 71, 87;
      --color-header: 62, 65, 60;
    }
    &.dark-mode {
      --color-secondary-900: 255, 255, 255;
      --color-secondary-800: 255, 255, 255;
      --color-secondary-700: 207, 207, 206;
      --color-secondary-600: 183, 183, 182;
      --color-secondary-500: 159, 160, 157;
      --color-secondary-400: 135, 136, 133;
      --color-secondary-300: 111, 112, 109;
      --color-secondary-200: 87, 89, 84;
      --color-secondary-100: 62, 65, 60;
      --color-secondary-50: 38, 41, 36;
      --color-secondary-0: 15, 18, 12;
      --color-header: 255, 255, 255;
    }
  }
  body {
    @apply font-karla;
  }
}

html {
  scrollbar-gutter: stable;
}

body[style*="overflow: hidden"] {
  overflow: visible !important;
  padding-right: 0 !important;
}

html,
body {
  background-color: rgb(var(--color-secondary-800));
}

body.modal-open {
  overflow: hidden !important;
  padding-right: 15px !important;
}
